.input-group{

    margin-bottom:18px;

}

.input-group label{

    display:block;

    margin-bottom:6px;

    font-size:14px;

    font-weight:500;

}

.input-group input{

    width:100%;

    padding:12px;

    border:1px solid #dddddd;

    border-radius:8px;

    transition:.2s;

}

.input-group input:focus{

    border-color:#111111;

}